<a href="https://colab.research.google.com/github/zen5saidan/ComputerUsingLevelCheck/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import requests
import bs4
#url = "https://info.finance.yahoo.co.jp/ranking/?kd=1&tm=d&mk=1"
#url = "https://info.finance.yahoo.co.jp/ranking/?kd=1&mk=3&tm=d&vl=a"
url = "https://www.keishicho.metro.tokyo.jp/about_mpd/jokyo_tokei/kakushu/dv.html"
req = requests.get(url)
data = bs4.BeautifulSoup(req.content, "html.parser")
#data = bs4.BeautifulSoup(req.text, "html.parser")
index = data.find('table')
listText = index.getText()
print(listText)

平成28年
平成29年
平成30年
令和元年
令和2年


女性
5,866
7,005
7,471
6,775
6,827


男性
953
1,416
1,571
1,660
1,800


総計
6,819
8,421
9,042
8,435
8,627